    <!--<div id = "copyrights">
		<br><br>
		<p>© 2014-2015 RTP Group</p>
	</div>-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../style/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../style/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="../../style/js/rtp.js"></script>
  </body>
</html>