</head>

  <body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/capstone_project">Road Trip Planner</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/capstone_project/pages/home.php">Home</a></li>
            <li><a href="/capstone_project/pages/maps/index.php">Trip Plan</a></li>
            <li><a href="/capstone_project/pages/journal/index.php">Travel Journal</a></li>
            <li><a href="/capstone_project/pages/qa/index.php">Ask</a></li>

            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-1x"></i><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
<?php if(!isset($_SESSION["email"])){ ?>                
                <li class = "register-start-btn cursor-pointer"><a>New User Register</a></li>
                <li class = "sign-in-btn-nav cursor-pointer"><a>Login</a></li>
<?php } else {  ?>
                <li><a href="/capstone_project/pages/mypages/mytrip.php">My Trip</a></li>
                <li><a href="/capstone_project/pages/mypages/myjournal.php">My Journal</a></li>
                <li><a href="/capstone_project/pages/mypages/myqa.php">My Questions/As</a></li>
                <li class = "cursor-pointer sign-out-btn-nav"><a>Log Out</a></li>
<?php } ?> 
                <li class="divider"></li>
                <li class="dropdown-header">I'm a Dropdown!</li>

<?php if(!isset($_SESSION["email"])){ ?>                
<?php } else {  ?>
                <li><a href="#">Setting</a></li>
<?php } ?> 
                <li><a href="/capstone_project/pages/about/aboutus.php">About RTP Team</a></li>
              </ul>
            </li>
          </ul>
		      <p class = "navbar-text navbar-right">Hi, <?= (isset($_SESSION["email"])? $_SESSION["fname"]. " ". $_SESSION["lname"] : "there"); ?></p>
        </div><!--/.nav-collapse -->
      </div>
    </nav>