Options -Indexes
DirectoryIndex index.html
ErrorDocument 404 /capstone_project/pages/ErrorPages/404.html
ErrorDocument 403 /capstone_project/pages/ErrorPages/403.html
ErrorDocument 500 /capstone_project/pages/ErrorPages/500.html

#RewriteEngine On
#RewriteRule ^([A-Za-z0-9_-]+).js$	/capstone_project/style/javascript/$1.js	[L]
#RewriteRule ^([A-Za-z0-9_-]+).css$	/capstone_project/style/css/$1.css	[L]
#RewriteRule ^([A-Za-z0-9_-]+)/?$	/capstone_project/pages/$1.php	[L]